.search {
    &__input {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30px;
        font-size: 28px;
        text-align: center;
        text-transform: capitalize;
    }
    &__type {
        display: block;
        margin: 40px auto 22px;
        background: red;
        border: 1px solid black;
        border-radius: 50%;
        width: 68px;
        height: 68px;
        color: white;
        cursor: pointer;
    }
    &__list {
        text-align: center;
        list-style-type: none;
        position: absolute;
        top: 44px;
        right: 50%;
        transform: translateX(50%);
        width: 29%;
        padding: 0;
        margin: 0;
        background-color: white;
        max-height: 160px;
        overflow-y: scroll;
        & li {
            padding: 10px;
            border: 1px solid black; 
        }
    }
}

.pokeImage {
    display: inline-block;
    width: 200px;
    margin: auto;
    transition: all 1s;
}

.pokeImage:hover {
    width: 300px;
}

.arrow {
    width: 50px;
    height: 70px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    &--left {
        transform: rotateZ(180deg);
        grid-column-start: 2;
    }
    &--right {
        grid-column-start: 4;
    }
}

.info {
    display: grid;
    grid-template-columns: 50% 50px 50%;
    grid-template-rows: 300px;
    
    &__images {
        display: grid;
        grid-template-columns: auto 50px 300px 50px auto;
        grid-template-rows: 300px;
    }
    &__description {
        display: none;
        grid-column-start: 3;
        margin: auto 0 auto 24%;
        width: max-content;
        
        & h2 {
            color: brown;
        }
    }
    &__item {
        text-transform: capitalize;
        color: black;
    }
}